@use"animaciones";
@use"navbar";
@use"portada";
@use"footer";
@use"sobremi";
@use"media";
@use"contacto";




h6 {
    font-family: arial;
}
h5 {
    font-family: arial;
}
 h4 {
    font-family: arial;
}
p{
    font-family: arial;
}
